# porta e host padrão do mysql/mariadb
DB_HOST=localhost
DB_PORT=3306
# altere para usar o seu usuário, senha e schema do mysql/mariadb
DB_USER=seu-user
DB_PASSWORD=sua-senha
DB_NAME=seu-schema
# url do seu database
DATABASE_URL=mysql://seu-user:sua-senha@localhost:3306/seu-schema
